@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Red+Hat+Text:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #0A0A0A;
	color: #F2F2F2;
	font-family: Arial;
}

body::-webkit-scrollbar {
	display: none;
}

#react-wavy-transitions__container {
	position: absolute;
}

.react-wavy-transitions__wavy-link {
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #0A0A0A;
	display: inline-block;
	padding: 7px;
	transition: all .3s;
}

.react-wavy-transitions__wavy-link:hover {
	background-color: #199EFF;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5vw 3vw;
	gap: 8px;
	row-gap: 6vw;
}

.movies-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 13vw;
}

.movies-item img {
	width: 100%;
}

.movies-item .movies-item-data {
	width: 100%;
	margin-top: 10%;
}

.movies-item .movies-item-data .movies-item-data_title {
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bolder;
}

.movies-item .movies-item-data .movies-item-data_rate {
	margin: 4% 0 14% 0;
	color: gray;
	font-size: 14px;
}

.movies-item .movies-item-data .movies-item-data_rate span {
	color: #199EFF;
}